<aside class="sidebar">
    <div class="left">
        <!-- Hamburger Menüsü İkonu -->
        <button class="hamburger-menu">
            <i class="ai-menu"></i>
        </button>

        <!-- Diğer Butonlar -->
        <img src="logo.svg" alt="Logo" style="width: 30px; margin-bottom: 2rem" />
        <button><i class="ai-home-alt1"></i></button>
        <button><i class="ai-heart"></i></button>
        <button><i class="ai-mention"></i></button>
        <button><i class="ai-chat-dots"></i></button>
        <button><i class="ai-plus"></i></button>
        <div style="margin-top: auto">
            <button><i class="ai-gear"></i></button>
            <button><i class="ai-link-out"></i></button>
        </div>
    </div>
    <div class="right">
        <div class="right-inner">
            <div class="header d-flex justify-content-between align-items-center mb-4">
                <div>
                    <h2>Admin Panel</h2>
                    <h3>calmora.com</h3>
                </div>
                <i class="ai-chevron-vertical"></i>
            </div>
            <nav class="d-flex flex-column">
                <button class="btn btn-light mb-1">
                    <i class="ai-dashboard"></i> Kategoriler
                </button>
                <button class="btn btn-light mb-1">
                    <i class="ai-shipping-box-v1"></i> Ürünler
                </button>
                <button class="btn btn-light mb-1">
                    <i class="ai-person"></i> Sliderlar
                </button>
                <button class="btn btn-light mb-1">
                    <i class="ai-open-envelope"></i> Kullanıcılar
                    <i class="ai-plus"></i>
                </button>
                <ul class="submenu list-unstyled ps-3">
                    <li>Admin Role <span class="badge bg-secondary">10</span></li>
                    <li>Misafir Role <span class="badge bg-secondary">4</span></li>
                    <li>Diğer Role <span class="badge bg-secondary">20</span></li>
                </ul>
                <button class="btn btn-light mb-1">
                    <i class="ai-image"></i> Siparişler
                </button>
                <button class="btn btn-light mb-1">
                    <i class="ai-network"></i> Network
                </button>
                <button class="btn btn-light mb-1">
                    <i class="ai-data"></i> Inventory
                </button>
                <button class="btn btn-light mb-1">
                    <i class="ai-hashtag"></i> Hashtags
                </button>
                <button class="btn btn-light mb-1">
                    <i class="ai-trophy"></i> Rewards
                </button>
            </nav>
        </div>
    </div>
</aside>
